# Sistema de build CMake e Ninja
build/
CMakeCache.txt
CMakeFiles/

# Sistema de configuração Kconfig
sdkconfig.old
sdkconfig

# IDF Component Manager
managed_components/

# Variáveis e configurações locais de IDE (Opcional)
.vscode/
.idea/

# Arquivos Temporários do Python e do Sistema
__pycache__/
*.pyc
*.pyo
*.log
.cache/*
.clangd